.navbar{  
  display: flex;   
  justify-content: space-between;
  flex-wrap: nowrap;
  /* background-color: aquamarine; */
  padding: 0 28px 0px 32px;
}
.nav-left{
    flex-grow: 1;
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
}
.nav-right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* background-color: bisque; */
}
.navbar-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    flex-direction: row;
    /* background-color: olivedrab; */
}


.menu{
    cursor: pointer;
}
.menu-icon:hover{
    background-color: rgba(0, 0, 0, .2);
}
.user-circle{
    width: 26px;
    height: 26px;
    background: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    background-color: black;
    color: rgb(226, 0, 226);
    font-size: small;
}
.nav-link{
    cursor: pointer;
}
.list-item{
    cursor: pointer;
}


@media (min-width:641px) {
    .navbar{
        justify-content: space-between;
    }
    .nav-right{
        justify-content: flex-end;
        /* background-color: brown; */
    }
    .navbar-nav {
        flex-grow: 0;
        min-width: 320px;
    }
}
@media (min-width: 961px) {
    .nav-right{
        justify-content: flex-end;
        /* background-color: green; */
    }
}