<div>
    <div *ngIf="!showEditForm; else editForm" class="task border d-flex  mt-2 p-2 ">
        <div class="d-flex flex-start">
            <span [ngStyle]="{'borderColor': getColor(task.priority)}" class=" mt-1 complete-task">
                <i class=" check-icon fa-solid fa-check fa-2xs"></i>
            </span>
        </div>
        <div class=" ms-2 card-body">
          <div class="d-flex justify-content-between">
            <div class="fw-500">
                <p class="card-title">{{ task.name }}</p>
            </div>

            <div class="">
              <fa-icon
                (click)="editTask(task)"
                class=" btn-action me-2"
                size="sm"
                [icon]="['far', 'edit']"
                [styles]="{ color: 'gray' }"
              ></fa-icon>
      
              <fa-icon
                (click)="deleteTask(task)"
                class=" btn-action delete-btn"
                [icon]="['far', 'trash-can']"
                size="sm"
                [styles]="{ color: 'gray' }"
              ></fa-icon>
            </div>
          </div>
          <p class="card-subtitle mb-2 text-muted">{{ task.description }}</p>
          <div class="d-flex justify-content-between">
              <p class="card-text text-muted border">{{ task.dueDate | date:'EEE, MMM d' }}</p>
              <p class="cart-text text-muted">Personal</p>
          </div>
        </div>
    </div>
    <ng-template #editForm>
        <add-task [task]="task" (toggleTaskCardDisplay)="toggle()">Save</add-task>
    </ng-template>
</div>

