.sidebar{
    background-color: #fafafa;
    height: 100vh;
    position: fixed;
    width: 350px;
    /* border-right: 1px solid lightgray; */
    left: 0px;
    z-index: 12;
    transition: all 0.3s 0s ease-out;
    /* left: -350px; */
}