.sidebar{
    background-color: #fafafa;
    height: 100vh;
    position: fixed;
    width: 350px;
    left: 0px;
    z-index: 12;
    transition: all 0.3s 0s ease-out;
    /* left: -350px; */
}
.list-group{
    background-color: #fafafa;
}
.list-group li{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.list-ellipsis{
    /* background-color: burlywood; */
    display: none;
}
 .list-group li:hover .list-ellipsis{
    display: inline-block;
}

.elps-icon:hover{
    color: black;
} 