.add-input{
    border: none;
    /* border-bottom: 1px solid black; */
    border-radius: 0;
}
.add-input:focus{
    outline: none !important;
}
.container{
    --bs-gutter-x: 0;
}
.priority-popover{
    cursor: pointer;
}
.flag-icon:hover{
    color:black !important;
}
/* .priority-container{
    cursor: pointer;
} */
.list-group-item{
    cursor: pointer;
}