<div class="sidebar" [ngStyle]="{ left: sidebarStatus ? '0' : '-320px' }">
  <ul class="list-group">
    <li class="list-group-item list-group-item-action" (click)="setQueryParams('inbox')">Inbox</li>
    <li class="list-group-item list-group-item-action"  (click)="setQueryParams('today')">Today</li>
    <li class="list-group-item list-group-item-action" (click)="setQueryParams('incoming')">Incoming</li>
    <!-- <li class="list-group-item list-group-item-action">Filters & Labels</li> -->
  </ul>
  <div class="sublist-header">
    <p (click)="toggleList()" class="flex-fill p-0 m-0">
      <i *ngIf="isListExpended" class="fa-solid fa-angle-down pe-2"></i>
      <i *ngIf="!isListExpended" class="fa-solid fa-angle-right pe-2"></i>
      <span>Projects</span>
    </p>
    <span (click)="openModel()" class="plus p-1 me-2">
      <i class="fa-solid fa-plus"></i>
    </span>
  </div>
  <ul *ngIf="isListExpended" class="list-group">
    <li
      *ngFor="let project of projects"
      class="list-group-item list-group-item-action"
      (click)="selectProject(project)"
    >
      <a
        routerLink="/project"
        [queryParams]="{ id: project.key }"
        class=" nav-link flex-fill "
      >
        <span class="dot rounded-cornder p-1"></span>
        {{ project.name }}
      </a>
      <span
        placement="top"
        [ngbPopover]="poptemplate"
        class="list-ellipsis"
      >
        <i class="fa-solid fa-ellipsis elps-icon"></i>
      </span>
      <ng-template #poptemplate>
        <div class="">
          <button class="btn-block btn btn-sm bg-light">Edit</button>
          <button
            (click)="openDeleteModal(project)"
            class="btn-block btn btn-sm btn-outline-danger"
          >
            Delete
          </button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
