<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add New Project</h5>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <label for="nameinput">Project Name</label>
      <input
        type="text"
        name="name"
        ngModel
        class="form-control"
        id="nameinput"
        placeholder="Enter Project Name"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    (click)="activeModal.dismiss('Cross click')"
    class="btn btn-danger"
    data-dismiss="modal"
  >
    Close
  </button>
  <button (click)="addProject(f.value)" type="button" class="btn btn-primary">
    Add
  </button>
</div>
