<div class="container">
  <h4 *ngIf="selectedProjectName" >{{ selectedProjectName.charAt(0).toUpperCase() + selectedProjectName.slice(1) }}</h4>
  <div *ngFor="let item of items">
    <task [task]="item"></task>
  </div>
  <p  class="mt-1">
    <button
      (click)="toggle()"
      *ngIf="displayAddBtn; else displayAddComponent"
      class="btn-add-plus text-start text-muted"
    >
      <span class="me-2">
        <i class="fa fa-plus"></i>
      </span>
      Add task
    </button>
  </p>

  <ng-template #displayAddComponent>
    <add-task (hideAddComponent)="toggle()">Add</add-task>
  </ng-template>
</div>
