.main{
    width: 60%;
    /* background-color: aliceblue; */
    padding-left:48px ;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 12px;
}

.open{
    margin-left: 350px;
    /* min-width: 380px; */
    transition: all 0.25s 0s ease-out;
}

.close{
    margin-left: auto;
    /* background-color: gray; */
    /* min-width: 380px; */
    transition: all 0.25s 0s ease-out;
}